---
import { Image } from 'astro:assets';
import ArrowUpRight from '~/assets/icons/arrowUpRight.svg';
import DownloadIcon from '~/assets/icons/download.svg';
import EmailIcon from '~/assets/icons/email.svg';
import GithubIcon from '~/assets/icons/github.svg';
import LinkedinIcon from '~/assets/icons/linkedin.svg';
import LocationIcon from '~/assets/icons/location.svg';
import PhotoImg from '~/assets/images/photo.png';
import { jobs, location, projects, shortDescription, skillsPrimary } from '~/data';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class='font-geist text-base-content mx-auto bg-transparent p-4'>
		<div class='m-auto max-w-prose'>
			<div class='mb-6 flex gap-4'>
				<Image src={PhotoImg} alt='face profile' class='size-24 rounded-sm object-cover' width={96} height={96} loading='eager' />
				<div class='mt-1'>
					<h1 class='text-4xl font-medium'>Andrew Katsewich</h1>
					<div class='dark:text-neutral-content/80 mt-1 flex justify-between text-sm text-gray-500'>
						<div>Full Stack Developer</div>
						<div class='flex items-center justify-center gap-1'>
							<LocationIcon width={20} height={20} />
							{location}
						</div>
					</div>
				</div>
			</div>

			<div class='mb-14 text-sm'>
				<div class='flex'>
					<p class='mb-4 text-pretty whitespace-pre-line'>{shortDescription}</p>
					<div class='divider divider-horizontal !h-40 self-center'></div>
					<div class='flex flex-col justify-center gap-4'>
						<a
							aria-label='LinkedIn page'
							href='https://www.linkedin.com/in/andrew-katsewich/'
							target='blank'
							class='link-hover link inline-flex items-center gap-2'
						>
							<LinkedinIcon class='text-base-content size-6' />
						</a>
						<a
							aria-label='Email address'
							href='mailto:andrew.katsewich@gmail.com'
							target='blank'
							class='link-hover link inline-flex items-center gap-2'
						>
							<EmailIcon class='text-base-content size-6' />
						</a>
						<a
							aria-label='Github profile'
							href='https://github.com/SpasiboKojima'
							target='blank'
							class='link-hover link inline-flex items-center gap-2'
						>
							<GithubIcon class='text-base-content size-6' />
						</a>
					</div>
				</div>
				<div class='mb-4 flex flex-wrap gap-1'>
					{skillsPrimary.map((item) => <div class='text-base-content rounded-sm border px-2 py-1 text-xs font-medium'>{item}</div>)}
				</div>
				<a href="./Andrew Katsewich's CV.pdf" target='_blank' referrerpolicy='no-referrer'>
					<button class='hover btn btn-primary'>
						<DownloadIcon width={20} height={20} />
						Download CV</button
					>
				</a>
			</div>

			<div class='mb-7 text-xl font-medium'>Projects</div>
			<div class='mb-14'>
				{
					projects.map((project) => (
						<a class='group link link-hover flex justify-between py-1' href={`/p/${project.slug}`}>
							<div class='max-w-1/2'>
								{project.title}
								<ArrowUpRight class='text-neutral-content/75 -mb-1 inline size-4 transition-transform group-hover:translate-x-1 group-hover:-translate-y-1' />
							</div>
							<div>{project.period}</div>
						</a>
					))
				}
			</div>
			<!-- <div class='mt-4 flex flex-wrap gap-1'>
				{languages.map((item) => <div class='rounded-1 bg-base-300 px-2 py-1 text-xs font-medium'>{item}</div>)}
			</div> -->
			<!-- <div class='flex gap-4 mb-14'>
				<a href='/project'>
					<div class='w-[17.8rem] h-[26rem] bg-slate-500 p-4 flex flex-col'>
						<p>INFINITY Webshop</p>
						<Image src={ProjectImg} alt='face profile' class='h-40 w-full rounded object-cover mt-auto mx-auto' />
					</div>
				</a>

				<a href='/project'>
					<div class='w-[17.8rem] h-[26rem] bg-slate-500 p-4 flex flex-col'>
						<p>INFINITY Webshop</p>
						<Image src={ProjectImg} alt='face profile' class='h-40 w-full rounded object-cover mt-auto mx-auto' />
					</div>
				</a>
			</div> -->

			<div class='mb-7 text-xl font-medium'>Work History</div>
			<div class='flex flex-col gap-2'>
				{
					jobs.map((job) => (
						// index === 0 ? 'text-lg font-medium' : 'text-neutral-content/80'
						<div>
							<div class={`flex justify-between py-1`}>
								{job.employerName}
								<div>{job.period}</div>
							</div>
							<div class='dark:text-neutral-content/80 text-sm text-gray-500'>{job.shortDescription}</div>
						</div>
					))
				}
			</div>
		</div>
	</main>
</Layout>
