---
import JobPosition from '~/components/pdf/JobPosition.astro';
import { courses, education, jobs, languages, location, position, shortDescription, skills } from '~/data';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class='mx-auto max-w-xl p-4 font-[Geist] lg:max-w-6xl'>
		<h1 class='h1 text-center'>Andrew Katsewich</h1>

		<div class='mt-2 flex flex-wrap justify-center gap-1 text-sm'>
			<div>{position}</div>
			<div class='divider divider-horizontal m-0'></div>
			<div>{location}</div>
		</div>

		<div class='mt-4 flex flex-wrap justify-center gap-1'>
			<a href='mailto:andrew.katsewich@gmail.com' target='blank' class='link-hover link inline-flex items-center gap-2'>
				<span class='font-medium'>andrew.katsewich@gmail.com</span>
			</a>
			<div class='divider divider-horizontal m-0'></div>
			<a href='https://www.linkedin.com/in/andrew-katsewich/' target='blank' class='link-hover link inline-flex items-center gap-2'>
				<span class='font-medium'>LinkedIn</span>
			</a>
		</div>
		<div class='mt-6 text-sm leading-snug whitespace-pre-line'>{shortDescription}</div>
		<div class='mt-6'>
			<h2 class='h2 border-b border-gray-200'>WORK EXPERIENCE</h2>
			{/* <hr class="my-4" /> */}
			<div class='mt-4 flex flex-col gap-4'>
				{jobs.slice(0, -2).map((job) => <JobPosition {...job} />)}
			</div>
		</div>
		<div class='mt-6'>
			<h2 class='h2 border-b border-gray-200'>EDUCATION</h2>
			{/* <hr class="my-4" /> */}
			<div class='mt-4 flex flex-col gap-4'>
				<JobPosition
					title={education[0].title}
					employerName={education[0].employerName}
					period={education[0].period}
					description={education[0].description}
				/>
			</div>
		</div>
		<div class='mt-6'>
			<h2 class='h2 border-b border-gray-200'>COURSES</h2>
			<ul class='mt-4 flex flex-col gap-2 text-sm font-semibold'>
				{
					courses.map((course) => (
						<a target='blank' class='link-hover link' href={course.url}>
							{course.title}
						</a>
					))
				}
			</ul>
		</div>

		<div class='mt-6'>
			<h2 class='h2 border-b border-gray-200'>SKILLS</h2>
			<div class='mt-4 flex flex-col gap-2 text-sm'>
				{
					skills.map((skillSet) => (
						<div>
							<b>{skillSet.title}:</b> {skillSet.skills.join(', ')}
						</div>
					))
				}
			</div>
		</div>
		<div class='mt-6'>
			<h2 class='h2 border-b border-gray-200'>LANGUAGES</h2>
			<div class='mt-4 text-sm'>{languages.join(', ')}</div>
		</div>
	</main>
</Layout>
