---
import { Image } from 'astro:assets';
import EmailIcon from '~/assets/icons/email.svg';
import GithubIcon from '~/assets/icons/github.svg';
import LinkedinIcon from '~/assets/icons/linkedin.svg';
import PhotoImg from '~/assets/images/photo.png';
import { languages, location, shortDescription, skillsPrimary } from '~/data';
---

<div class='top-0 flex h-max flex-col gap-12 rounded bg-base-100 transition-colors duration-300 p-4 shadow-block lg:sticky'>
	<div>
		<div class=''>
			<Image src={PhotoImg} alt='face profile' class='size-24 rounded object-cover' />
		</div>
		<h2 class='mt-2 flex items-center gap-2 text-lg font-medium'>Andrew Katsewich</h2>
		<div class='mt-1 flex justify-between text-sm text-neutral-content'>
			<div>Full Stack Developer</div>
			{location}
		</div>
		<div class='text-sm'>
			<p class='whitespace-pre-line text-pretty'>{shortDescription}</p>
			<div class='mt-4 flex flex-wrap gap-1'>
				{skillsPrimary.map((item) => <div class='rounded-1 bg-base-300 px-2 py-1 text-xs font-medium'>{item}</div>)}
			</div>
		</div>
		<a href="./Andrew Katsewich's CV.pdf" target='_blank' referrerpolicy='no-referrer'>
			<button class='hover btn btn-primary mt-6 w-full print:hidden'>Download CV</button>
		</a>
	</div>
	<div>
		<h2 class='p-0 leading-none h2'>ABOUT</h2>
		<hr class='my-4' />
		<div class='text-sm'>
			<p class=''>
				Something about how I prioritize performance and UX. Also modular development, accessibility and maybe something else. Or better go
				with soft skills here and hard skills above?
			</p>
			<div class='mt-4 flex flex-wrap gap-1'>
				{languages.map((item) => <div class='rounded-1 bg-base-300 px-2 py-1 text-xs font-medium'>{item}</div>)}
			</div>
			<hr class='my-4' />
			<div class='flex flex-wrap gap-4'>
				<a href='https://www.linkedin.com/in/andrew-katsewich/' target='blank' class='link-hover link inline-flex items-center gap-2'>
					<LinkedinIcon class='size-4 text-base-content' />
					<span class='font-medium'>linkedin.com/in/andrew-katsewich</span>
				</a>
				<a href='mailto:andrew.katsewich@gmail.com' target='blank' class='link-hover link inline-flex items-center gap-2'>
					<EmailIcon class='size-4 text-base-content' />
					<span class='font-medium'>andrew.katsewich@gmail.com</span>
				</a>
				<a href='https://github.com/SpasiboKojima' target='blank' class='link-hover link inline-flex items-center gap-2'>
					<GithubIcon class='size-4 text-base-content' />
					<span class='font-medium'>github.com/SpasiboKojima</span>
				</a>
			</div>
		</div>
	</div>
</div>
