---
import { ClientRouter } from 'astro:transitions';
import Footer from '~/components/Footer.astro';
import ThemeIcon from '~/components/ThemeIcon.astro';
import { jobs, location } from '~/data';
import '~/font.css';
import '~/index.css';
---

<!doctype html>
<html lang='en'>
	<head>
		<ClientRouter />
		<title>Andrew Katsewich's CV</title>
		<meta property='title' content="Andrew Katsewich's CV" />
		<meta name='description' content={`Andrew Katsewich, Full Stack Developer in ${location}, @${jobs[0].employerName}`} />
		<meta property='og:title' content="Andrew Katsewich's CV" />
		<meta property='og:type' content='website' />
		<meta property='og:site_name' content='Vercel' />
		<meta property='og:image' content='/og.png' />
		<meta property='og:image:alt' content={`Andrew Katsewich, Full Stack Developer in ${location}, @${jobs[0].employerName}`} />
		<meta property='og:image:width' content='1200' />
		<meta property='og:image:height' content='630' />
		<meta property='og:description' content={`Andrew Katsewich, Full Stack Developer in ${location}, @${jobs[0].employerName}`} />
		<meta property='og:url' content={`${process.env.VERCEL_URL ? 'https://' + process.env.VERCEL_URL : ''}`} />

		<meta property='twitter:card' content='summary_large_image' />

		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover' />
		<link rel='apple-touch-icon' href='/logo.png' />
		<link rel='manifest' href='/manifest.json' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />

		<meta name='theme-color' content='oklch(20% 0.105 251.19 / 0.5)' />
	</head>
	<body class='relative flex min-h-screen flex-col'>
		<div class='background'></div>
		<ThemeIcon />

		<slot />

		<Footer />
	</body>
</html>
<style is:global>
	html {
		scrollbar-gutter: stable;
		font-family: system-ui, sans-serif;
		background-color: #fff;
	}

	html[data-theme='dark'] {
		background: #000;
	}

	.background {
		position: fixed;
		inset: 0px;
		z-index: -1;
		background-image: radial-gradient(#cee1ff, #ffffff 75%);

		background-size: max(100vw, 100vh) max(100vw, 100vh);
		background-position: center;
		background-repeat: no-repeat;
	}

	[data-theme='dark'] .background {
		background-image: radial-gradient(#021027, #000000 90%);
	}
</style>
