---
import { Image } from 'astro:assets';
import CalendarIcon from '~/assets/icons/calendar.svg';
import OfficeIcon from '~/assets/icons/office.svg';
import UniversityIcon from '~/assets/icons/university.svg';
import WorkIcon from '~/assets/icons/work.svg';
import type { Job } from '~/data';

type Props = Job;

const { title, description, employeeImg, employeeElement, employerName, period, isUniversity } = Astro.props;
---

<div class='flex flex-col gap-4 text-sm tracking-tight md:flex-row'>
	{
		employeeElement ? (
			<slot name='employeeElement' />
		) : employeeImg ? (
			<Image src={employeeImg} alt='company logo' class='size-12 rounded-full' />
		) : (
			<OfficeIcon class='size-12 shrink-0 rounded-full bg-base-100 p-1' />
		)
	}
	<div class='w-full'>
		<h3 class='font-medium'>{title}</h3>
		<div class='mt-1.5 flex items-center gap-4'>
			<div class='flex items-center gap-1.5 text-xs font-medium'>
				{isUniversity ? <UniversityIcon class='size-4 shrink-0' /> : <WorkIcon class='size-4 shrink-0' />}
				{employerName}
			</div>
			<div class='flex items-center gap-1.5 text-xs font-medium'>
				<CalendarIcon class='size-4 shrink-0 text-base-content' />
				{period}
			</div>
		</div>
		<p class='mt-4 whitespace-pre-line text-sm'>{description}</p>
	</div>
</div>
