---
import { Image } from 'astro:assets';
import DatabaseIcon from '~/assets/icons/courses/database.svg';
import EthereumIcon from '~/assets/icons/courses/ethereum.svg';
import ReactIcon from '~/assets/icons/courses/react.svg';
import BSTUImg from '~/assets/images/bstu.png';
import { courses, education, jobs } from '~/data';
import JobPosition from './JobPosition.astro';

---

<div>
	<h2 class='h2'>EXPERIENCE</h2>
	<div class='mt-4 flex flex-col gap-8'>
		{jobs.map((job) => <JobPosition {...job} />)}
	</div>
</div>

<div>
	<h2 class='h2'>EDUCATION</h2>
	<div class='mt-4 flex flex-col gap-8'>
		<JobPosition
			title={education[0].title}
			employeeElement
			employerName={education[0].employerName}
			period={education[0].period}
			description={education[0].description}
			isUniversity
		>
			<Image slot='employeeElement' src={BSTUImg} alt='company logo' class='size-12 shrink-0 rounded-full bg-[#006] p-1' />
		</JobPosition>
	</div>
</div>

<div>
	<h2 class='h2'>COURSES</h2>
	<div class='mt-4 flex flex-col gap-4 text-sm font-semibold'>
		{
			courses.map((course) => (
				<a target='blank' class='link-hover link flex items-center gap-3' href={course.url}>
					{course.icon === 'courses/react' && <ReactIcon class='inline size-5 shrink-0' />}
					{course.icon === 'courses/database' && <DatabaseIcon class='inline size-5 shrink-0' />}
					{course.icon === 'courses/ethereum' && <EthereumIcon class='inline size-5 shrink-0' />}
					{course.title}
				</a>
			))
		}
	</div>

</div>
